svg path:hover {
    fill: red;
}
svg {
    width: 100%;
}


.container{
    margin: 22px 0;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;

}

.map {
    width: 70%;

}
.mapInfo{
     
    width: 20%;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}